.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-inner {
  width: 396px;
  height: 132px;
  display: flex;
  align-items: center;
  margin: 60px 0px 40px;
}

.header-inner .logo {
  margin-left: 22.24px;
} 

.container {
  width: 640px;
  height: 430px;
}

.login-wrap label {
  font: 700 18px/21.48px 'Pretendard';
  color:var(--Cool-Gray-800);
}

.login-wrap .input-text {
  display: block;
  margin:16px 0px 24px;
  padding:16px 24px;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: var(--Cool-Gray-100);
  border-style: none;
  font: 400 16px/24px 'Pretendard';
  color:var(--Cool-Gray-400)
}

.login-wrap .input-text:focus {
  outline: 2px solid var(--Bright-Blue);
}

.input-password {
  position: relative;
}

.login-wrap .visible-toggle {
  position: absolute;
  right: 25px;
  top: 19px;
}

.login-wrap .btn {
  display: block;
  height: 56px;
  border-radius: 40px;
  padding:16px 124px;
  text-align: center;
  gap:10px;
  background-color: var(--Cool-Gray-400);
  font:600 20px/24px 'Pretendard';
  color:var(--white);
  text-decoration: none;
}

.login-wrap .btn:hover {
  background-color: var(--Bright-Blue);
}

.login-social {
  height: 74px;
  border-radius: 8px;
  background-color: var(--Alice-Blue);
  margin:24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 23px;
}

.login-social-text {
  font: 600 16px/24px 'Pretendard';
  color: var(--Cool-Gray-800);
}

.login-social-logo img {
  margin-left: 10px;
}

.signup-wrap {
  text-align: center;
  font: 600 15px/17.9px 'Pretendard'
}

.signup-text {
  color: var(--Cool-Gray-800);
}

.signup-link {
  color: var(--Sky-Blue);
}