:root {
  --header-btn-bgcolor : #3692ff;
  --header-btn-bgcolor--hover :#1251AA;
  --section01-bg-color : #cfe5ff;
  --section01-h1-color: #374151;
  --section02-span-color :#3692ff;
  --section02-p-color : #374151;
  --section02-title-color : #374151;
  --footer-bg-color : #111827;
  --footer-text01 : #9CA3AF;
  --footer-text02 : #E5E7EB;
  --white : #ffffff;

}

* {
  box-sizing:border-box;
  margin: 0;
}

html {
  font-family: 'Pretendard', sans-serif;
}

.gnb,
.gnb-logo {
  display: flex;
  align-items: center;
}

.gnb {
  justify-content: space-between;
  height: 70px;
}

.gnb-logo,
.gnb-login {
  margin:0px 200px;
  flex-shrink: 0;
}

.gnb-login {
  text-decoration: none;
  color:var(--white);
  background-color: var(--header-btn-bgcolor);
  border-radius: 8px;
  padding:12px 20px;
  cursor: pointer;
  font-weight: 600;
}

.gnb-login:hover {
    background-color: var(--header-btn-bgcolor--hover)
  }

.gnb-logo img {
  margin-right: 10px;
}

.section01 {
  height: 540px;
  background-color: var(--section01-bg-color);
  background-repeat: no-repeat;
  background-size:55%;
  background-position: right 20% bottom;
  display: flex;
  justify-content:left;
  align-items: center;
}

.image-top {
  background-image: url("images/img_home_top.png");
}

.image-bottom {
  background-image: url("images/img_home_bottom.png");
}

.visual-text {
  margin-left: 200px;
}

.visual-text h1 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 32px;
  font-weight: 700;
  color:var(--section01-h1-color);
}

.visual-text a {
  text-decoration: none;
  color:var(--white);
  background-color: var(--header-btn-bgcolor);
  border-radius: 9999px;
  padding:16px 124px;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.visual-text a:hover {
  background-color: var(--header-btn-bgcolor--hover)
}

.wrapper {
  margin: 0px 200px;
}

.section02 {
  padding:100px 0px;
}

.section02-content--reverse {
  justify-content: end;
  flex-direction: row-reverse;
  text-align: end;
}

.section02-content {
  display: flex;
  align-items: center;
  gap:40px;
}

.section02-img {
  width: 588px;
  height: 444px;
}

.section02-text span {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: var(--section02-span-color)
}

.section02-title {
  font-size: 40px;
  margin:12px 0px 24px;
  line-height: 56px;
  font-weight: 700;
  color:var(--section02-title-color)
}

.section02-text p {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color:var(--section02-p-color)
}

.search {
  justify-content: end;
}

footer {
  height: 160px;
  background-color: var(--footer-bg-color);
  color:var(--white);
  padding:32px 200px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}

.footer-content > span {
  color:var(--footer-text01);
  margin-right: 30px;
}

.privacy-faq a {
  color: var(--footer-text02);
  text-decoration:none;
  margin-right: 30px;
}

.footer-icons a {
  margin-right: 13px;
}