body {
  font-family: 'Pretendard', sans-serif;
}

.gnb {
  margin:0px 200px;
}

.gnb,
.gnb-logo {
  display: flex;
  align-items: center;
}

.gnb {
  justify-content: space-between;
  height: 70px;
}

.gnb-login {
  text-decoration: none;
  color:var(--white);
  background-color: var(--header-btn-bgcolor);
  border-radius: 8px;
  padding:12px 20px;
  font-weight: 600;
  flex-shrink: 0;
}

.gnb-login:hover {
    background-color: var(--header-btn-bgcolor--hover)
  }

.gnb-logo img {
  margin-right: 10px;
}

.banner {
  height: 540px;
  background-color: var(--banner-bg-color);
  background-repeat: no-repeat;
  background-size:55%;
  background-position: right 20% bottom;
  display: flex;
  justify-content:left;
  align-items: center;
}

.image-top {
  background-image:url("images/Img_home_top.png");
}

.image-bottom {
  background-image: url("images/Img_home_bottom.png");
}

.banner-text {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.banner-text h2 {
  font: 700 40px/56px Pretendard;
  margin-bottom: 32px;
  color:var(--banner-h2-color);
}

.banner-text a {
  text-decoration: none;
  color:var(--white);
  background-color: var(--header-btn-bgcolor);
  border-radius: 9999px;
  padding:16px 124px;
  display: inline-block;
  font: 600 20px/24px Pretendard;
}

.banner-text a:hover {
  background-color: var(--header-btn-bgcolor--hover)
}

.container {
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
}

.section {
  padding:100px 0px;
}

.section-content--reverse {
  justify-content: end;
  flex-direction: row-reverse;
  text-align: end;
}

.section-content {
  display: flex;
  align-items: center;
  gap:40px;
}

.section-img {
  width: 50%;
  height: 50%;
}

.section-text span {
  font:700 18px/25.2px Pretendard;
  color: var(--section-span-color)
}

.section-title {
  font: 700 40px/56px Pretendard;
  margin:12px 0px 24px;
  color:var(--section-title-color)
}

.section-text p {
  font: 500 24px/28.8px Pretendard; 
  color:var(--section-p-color)
}

.search {
  justify-content: end;
}

footer {
  height: 160px;
  background-color: var(--footer-bg-color);
  color:var(--white);
  padding:32px 200px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  font: 400 16px/19.09px Pretendard;
}

.copyright {
  color:var(--footer-text01);
  margin-right: 30px;
}

.privacy-faq a {
  color: var(--footer-text02);
  text-decoration:none;
  margin-right: 30px;
}

.footer-icons {
  flex-shrink: 0;
}

.footer-icons a {
  margin-right: 13px;
}